.converation {
  display: flex;
  align-items: center;
  gap: 10px;
}

.converation__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.converation__details-container {
  flex-grow: 1;
}

.converation__name {
  font-weight: 600;
  font-size: 14px;
  color: var(--user-name-color);
}

.converation__last-msg-time {
  font-weight: 400;
  font-size: 9px;
  color: var(--last-message-time-color);
}

.converation__last-msg {
  max-width: 145px;
  max-height: 20px;

  font-weight: 400;
  font-size: 9px;
  color: var(--last-message-color);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
}

.converation__msg-status {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 20px;
  min-width: 20px;
  padding: 0 2px;

  font-size: 10px;

  background-color: var(--converation-no-unread-msg-bg-color);
  border-radius: 50%;
}

.converation__msg-status_has-unread {
  color: #FFFFFF;
  background-color: var(--converation-unread-msg-bg-color);
}