.input {
  position: relative;
  display: flex;

  height: 40px;

  background-color: #FFFFFF;
  border-radius: 30px;
}

.input__field {
  padding: 0 20px 0 60px;

  border: none;
  outline: none;
  flex-grow: 1;

  border-radius: 30px;
}

.input__field::placeholder {
  color: var(--subtle2-color);
}

.input__icon {
  width: 20px;
  height: 20px;

  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.input__field:focus {
  border: 2px solid var(--focused-input-border-color);
}