@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  /*background colors*/
  --bg-color: #F0F0F0;
  --chat-bg-color: #FFFFFF;
  --message-box-participant-bg-color: #DCE8FF;
  --message-box-curr-user-bg-color: #4399FF;
  --new-message-bg-color: #DCE8FF;
  --converation-no-unread-msg-bg-color: #DCE8FF;
  --converation-unread-msg-bg-color: #4399FF;

  /*text colors*/
  --user-name-color: #4399FF;
  --last-message-color: #959595;
  --last-message-time-color: #BABABA;
  --chat-message-participant-color: #000000;
  --chat-message-curr-user-color: #FFFFFF;

  /*general colors*/
  --subtle-color: #D9D9D9;
  --subtle2-color: #CDCDCD;
  --focused-input-border-color: #4399FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Inter;
  font-weight: 400;
}

html, body, aside, main {
  height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;

  background-color: var(--bg-color);
  box-shadow: 2px 0 10px 1px var(--subtle2-color);
}

.main-content-padding {
  padding: 15px 30px 25px;
}